body{
    background-color: lightyellow;

}
.container1{
    background-color: lightgrey;
    border: 10px dotted pink

}
.container2{
    background-color: greenyellow;
    border: 10px dotted pink
}
p{
    font-size: 3rem;
    font-weight: bold;
    color: green;
    border: 2px solid darkgrey

}
ul li{
    background-color: blue;
    text-transform: uppercase;
}
@media screen and (max-width: 576px){
    .container1  .container2{
        display: none;
    }
}